  <div class="row">
    <%= form_tag("/blogs/#{@blog.id}", method: :patch ) do %>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          タイトル
          <input placeholder="title" type="text" name="title" value="<%= @blog.title %>" autofocus="true",class="materialize-textarea">
          内容
          <textarea cols="30" name="text" placeholder="text" rows="10",class="materialize-textarea"><%= @blog.text %></textarea>
          <input type="submit" value="SENT",class="waves-effect waves-light btn">
          <%# <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label> %>
        </div>
      </div>
    </form>
    <%end%>
  </div> 
 
